.artist {
    width: 95%;
    height: 12em;
    display: flex;
    margin: auto;
    text-align: center;
}

.artistPhotoContainer {
    max-width: 12em;
    max-height: 12em; 
}

.artistPhoto {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.artistInfo {
    width: 100%;
}

.artist h3, p {
    margin: 1.5em 0;
}

.artist p {
    margin: 1.2em 0;
}

.artistGenres{
    
}