/* *{
      outline: solid var(--clr-dark) 2px;
  } */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 600;

    --clr-light: #fff;
    --clr-dark: #303030;
    --btn-hover-light: rgba(0, 0, 35, 0.10);
    --btn-hover-dark: rgba(98, 98, 128, 0.15);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs:0.25em 0.25em 0.75em rgba(0,0,0,.25),
         0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.light {
    --background: #f1faee;
    --background-alt: #00f7ff;
    --foreground: #1d3557;
    --accent: #8ce6ffa0;
    --font-color:  #303030;
    --visited: #551A8B;
    --link: #0000EE;
}

.dark {
    --background: #2b364b;
    --background-alt: #000000ab;
    --foreground: rgba(152, 160, 181, 0.151);
    --accent: #8ce6ffa0;
    /* --accent: #8ce6ff2e; */
    --font-color:  #fff;
    --visited: rgb(211, 138, 138);
    --link: #8db2e5;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--font-color);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

button {
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0.3em 0.3em 0.3em 0.3em;
    /* border-radius:0.12em; */
    /* box-sizing: border-box; */
    /* text-decoration:none; */
    /* font-weight:300; */
    /* color: black; */
    text-align:center;
    transition: all 0.15s;
    border-radius: 2em;
}

button:hover {
/* background-color: var(--btn-hover-light); */
-webkit-transform: scale(1.06);
}

.btnSelected {
    /* border: 0.2em solid var(--accent); */
    transition-property: all;
    flex-grow: 1;
    transition-duration: 400ms;
    background-color: var(--accent);
    /* -webkit-transform: scale(1.04); */
    color: #fff;
    /* background-image: -webkit-linear-gradient(left, var(--accent),
        rgba(152, 160, 181, 0.151),
     transparent 30%, transparent 100%); */
}

a {
    color: var(--link);
}

a:visited {
    color: var(--visited);
}


main {
    margin: 0 auto;
    width: 95%;
}

h3 {
    margin: 1em 0;
}

@media only screen and (max-width: 1400px) {
    .app {
        /* display: flex;
        flex-direction: column; */
    }
}

