.chartContainer {
 max-height: 35em;
 max-width: 48em;
 position:relative; 
 flex-grow: 2;
 flex-basis: 480px;
text-align: center;
}

.chartContainer h2 {
    margin-top: .25em;
}

#genreChart {
    max-width: 30em;
    max-height: 30em;
    margin: 0 auto;
}