.artists {
   flex: 1;
   padding: 1em;
   background-color: var(--background-alt);
   margin:  1em 0.5em 1em 0;
   border-radius: 2em;
}

.artistButtons {
   display: flex;
   margin: 0 auto;
   width: 70%;
}

.artistsHeader {
   background-color: var(--foreground);
   border-radius: 3em;
   margin: 0 auto;
   padding: 0 4em;
   width: fit-content;
}

.artistsHeader h2 {
   margin-top: 0em;
   margin-bottom: 0.45em;
}
